@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Georama&family=Roboto&display=swap');
html {
  scroll-behavior: smooth;
  font-family: 'Georama', sans-serif;
  
}
.Dialog {
  transition: opacity 0.25s ease;
}
body.Dialog-active {
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 400ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 400ms;
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 400ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 400ms;
}

.slide-in-bottom-enter {
  transform: translateY(-100%);
}

.slide-in-bottom-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 400ms;
}

.slide-in-bottom-exit {
  transform: translateY(0%);
  opacity: 1;
}

.slide-in-bottom-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 400ms;
}

.builder-block {
  height: 95vh;
  overflow: hidden;
  /* height: 99vh;
  overflow-y: auto;
  position: relative; */
}
.form-list {
  max-height: 75vh;
  overflow-y: auto;
 padding-bottom: 20px;
}

.build {
  height: 80vh;
  overflow-y: auto;
}
.mobile-build {
  max-height: 73vh;
  overflow-y: scroll;
}
.q-item:hover .q-actions {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 1;
}
.question-textarea {
  min-height: 12vh;
}
.min-h-12 {
  min-height: 3rem;
  overflow: auto;
}

textarea {
  height: 10vh;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
.q-list {
  height: 70vh;
  overflow-y: auto;
  padding-bottom: 3rem;

}
@media only screen and (min-width: 768px) {
  .q-list {
    /* height: 85vh; */
    height: 75vh;
    
  }
}




@media only screen and (max-width: 460px) {
  .main {
    height: 76vh;
   
    overflow-y: scroll;
  }
}


.h-summary {
  height: 80vh;
}
.ra-list {
  height: 75vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

button {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
.form-checkbox {
  padding: 2rem;
}




html {
  scroll-behavior: smooth;
  overflow: hidden;
}

#section1 {
  height: 100vh;
  background-color: pink;
}

.section {
  height: 100vh;
  transition-duration: 4s;
  transition-delay: 2s;
}
.conx{
  height: 30vh;
  overflow-y: scroll;
}
.mmm-b{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0px;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  left: 0;
  right: 0;
  letter-spacing: 0;
  font-size: .95em;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
.mmm-t{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  /* padding: 10px; */
  left: 0;
  right: 0;
  letter-spacing: 0;
  font-size: .95em;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}


/* style.css*/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

/* Not needed with the cssTransition helper */

.animate {
  animation-duration: 500ms;
}



.slider{
  /* position:absolute; */
  width:100%;
  height:7px;
  overflow-x: hidden;
  position: relative;
}

.line{
  position:absolute;
  opacity: 0.4;
  background:#cc3300;
  width:100%;
  height:7px;
}

.subline{
  position:absolute;
  background:#cc3300;
  height:7px; 
}
.inc{
animation: increase 2s infinite;
}
.dec{
animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
 from { left: -5%; width: 5%; }
 to { left: 130%; width: 100%;}
}
@keyframes decrease {
 from { left: -80%; width: 80%; }
 to { left: 110%; width: 10%;}
}



.index0{
  background-color: #119541;
}

.index1{
  background-color: #0c519c
}
.index2{
  background-color: #e00c1a;
}
.index3{
  background-color: #FFBF00 
}
.index4{
  background-color:   #921e7f
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.whatsapp{
 background-color: #075E54;
}
.wb{
  background-color:   #25D366;
}

.facebook{
  background-color: #445c8f;
}

.fb{
  background-color:  #3b5998; 
}


.tb{
  background-color: #00acee;
}
.twitter{
  background-color: #008abe
}